[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySide6 = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
pep8-naming = "*"
pydocstyle = "*"
black = "*"
flake8-typehinting = "*"
flake8-builtins = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"

[requires]
python_version = "3.10"
